.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  html {
    @apply overflow-y-hidden;
  }
}
